@import '../../App.scss';

.dropdown{
    background-color: rgb(254,244,238);
    border: 1px solid rgb(214, 214, 214);
    border-radius: 7px;
    margin: 1rem 0rem;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(214, 214, 214);
        padding: .5rem 0.8rem;
        color: rgb(109, 109, 109);

        @include mobile{
            padding: 0.4rem .7rem;
        }

        h6{
            padding: 0;
            font-size: 0.9rem;
            font-weight: 500;

            @include mobile{
                font-size: 0.7rem;
            }
            @include fold{
                font-size: 0.6rem;
            }
        }
    }
    .header:hover{
        background-color: rgb(254,244,238);
        cursor: pointer;
    }
    .body{
        color: rgb(99, 98, 98);
        display: flex;
        align-items: center;
        padding: 1rem;
        animation: drop 1s;

        @include mobile{
            padding: 0.6rem;
        }
        @include fold{
            padding: 0.5rem;
        }

        .tickContainer{
            background-color: rgb(255, 199, 167);
            border-radius: 50%;
            padding: 0.3rem;
            margin-right: .8rem;
            display: flex;

            @include mobile{
                margin-right: 0.6rem;
            }

            .tick{
                color: rgb(242,111,34);
                font-size: .8rem;

                @include mobile{
                    font-size: 0.6rem;
                }
            }
        }

        h6{
            font-size: 0.9rem;
            padding: 0;
            font-weight: 400;

            @include mobile{
                font-size: 0.7rem;
            }
            @include fold{
                font-size: 0.6rem;
            }
        }
    }
}

.notOpened{
    background-color: transparent;
    border-bottom: none;
    border-radius: 7px;
}

@keyframes drop {
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(0px);
    }
}