@import'../../App.scss';

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        height: 80px;
        margin-left: 2rem;

        @include mobile{
            height: 40px;
        }
        @include fold{
            height: 35px;
        }
    }
    .tabs{
        display: flex;
        justify-content: center;
        align-items: center;

    h4{
        margin: 1rem;
        color: var(--primary-color);
        font-weight: 600;

        @include tablet{
            font-size: 0.8rem;
            margin: 0.5rem;
        }
        @include mobile{
            font-size: 0.8rem;
            display: none;
        }
        @include fold{
            font-size: 0.8rem;
            display: none;
        }
    }
    h4:hover{
        cursor: pointer;
    }
    .login{
        margin: .5rem;
        border: 1px solid var(--primary-color);
        background-color: transparent;
        border-radius: 7px;
        padding: .3rem 1.5rem;
        height: 2.9rem;
        font-weight: 600;
        color: var(--primary-color);

        @include mobile{
            font-size: 0.6rem;
            height: 2rem;
            padding:  .2rem .8rem;
            margin: 0.3rem;
        }
        @include fold{
            font-size: 0.6rem;
            height: 2rem;
            padding:  .2rem .6rem;
            margin: 0.3rem;
        }
        @include tablet{
            font-size: 0.8rem;
            height: 2.3rem;
            padding:  .2rem .8rem;
            margin: 0.6rem;
        }
    }
    .getStarted{
        margin: .5rem;
        background: linear-gradient(to right, rgb(236, 145, 91), var(--secondary-color));
        border-radius: 7px;
        padding: .3rem 1.5rem;
        height: 2.9rem;
        border: none;
        color: white;
        margin-right: 2rem;
        font-weight: 600;

        @include mobile{
            margin: 0.4rem;
            padding: 0.3rem .8rem;
            height: 2rem;
            font-size: 0.6rem;
        }
        @include fold{
            margin: 0.4rem;
            padding: 0.3rem .6rem;
            height: 2rem;
            font-size: 0.5rem;
        }
        @include tablet{
            margin: 0.4rem;
            padding: 0.3rem .8rem;
            height: 2.3rem;
            font-size: 0.7rem;
        }
    }
    }

    .menuIcon{
        display: none;

        @include mobile{
            display: flex;
            margin-right: 1.5rem;
        }
        @include fold{
            display: flex;
            margin-right: 1.5rem;
        }
    }
    .menu{
        position: absolute;
        right: 0;
        top: 0;
        width: 50vw;
        border-radius: 17px;

        h4{
            font-weight: 400;
            text-align: center;
            background-color: antiquewhite;
            padding: .5rem;
        }
        .h4:hover{
            background-color: white;
        }
    }
}