@import '../../App.scss';


.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;

    @include mobile{
        flex-direction: column;
    }
    @include fold{
        flex-direction: column;
    }

    .bannerTexts{

        width: 45%;

        @include mobile{
            width: 100%;
            text-align: center;
        }
        @include fold{
            width: 100%;
            text-align: center;
        }

        p{

            @include mobile{
                font-size: .8rem;
                margin-top: 2rem;
            }
            @include fold{
                font-size: .7rem;
                margin-top: 1.8rem;
            }
          .arrow{
                color: var(--secondary-color);
            }
         span{
            font-weight: 500;
            color: grey;
         }
        }

        h1{
            font-size: 8vh;
            font-weight: 900;
            letter-spacing: 1px;

            @include mobile{
                font-size: 3vh;
                letter-spacing: 0;
                margin-top: 1rem;
            }
            @include fold{
                font-size: 2.8vh;
                letter-spacing: 0;
                margin-top: 1rem;
            }
            @include tablet{
                font-size: 3vh;
            }
        }
    }

    .bannerIMG{
        width: 41vw;
        height: 55vh;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: contain;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 50px;
        margin-top: 4rem;

        @include mobile{
            width: 80vw;
            height: 20vh;
            background-repeat: no-repeat;
            border-bottom-left-radius: 120px;
            margin-top: 1rem;
        }
        @include fold{
            width: 75vw;
            height: 18vh;
            background-repeat: no-repeat;
            border-bottom-left-radius: 120px;
            margin-top: 1rem;
        }
        @include tablet{
          height: 20vh;   
        }
    }

    .bannerBG{
        width: 50vw;
        height: 70vh;
        background: linear-gradient(to left, rgb(255,251,249), rgb(253, 233, 220));
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        border-bottom-left-radius: 150%;

        @include mobile{
            height: 30vh;
            width: 70vw;
        }
        @include fold{
            height: 30vh;
            width: 70vw;
        }
    }

    .close1{
        color: rgb(255,155,113);
        position: absolute;
        top: 30%;
        left: 3%;
        font-size: 1.5rem;
        font-weight: 600;

        @include tablet{
            top: 10%;
            left: 2%;
        }
        @include mobile{
            display: none;
        }
        @include fold{
            display: none;
        }
    }
    .rectangle1{
        position: absolute;
        width: 3vw;
        height: 3vw;
        top: 22%;
        left: 23%;
        border: 2px dotted rgb(128,237,153);

        @include tablet{
            top: 8%;
        }
        @include mobile{
            display: none;
        }
        @include fold{
            display: none;
        }
    }
    .rectangle2{
        position: absolute;
        width: 1.3vw;
        height: 1.3vw;
        top: 16%;
        left: 29%;
        background: linear-gradient(to right, rgb(253,201,94),rgb(250, 210, 131));

        @include tablet{
            top: 5%;
        }
        @include mobile{
            display: none;
        }
        @include fold{
            display: none;
        }
    }
    .circle{
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        border: 5px solid rgb(250, 210, 131);
        position: absolute;
        bottom: 19%;
        left: 10%;
        
        @include tablet{
            top: 32%;
        }
        @include mobile{
            display: none;
        }
        @include fold{
            display: none;
        }
    }
    .close2{
        position: absolute;
        left: 35%;
        bottom: 20%;
        color: rgb(191,244,201);
        font-size: 2rem;
        font-weight: 900;
        @include tablet{
            top: 30%;
        }
        @include mobile{
            display: none;
        }
        @include fold{
            display: none;
        }
    }
    .close3{
        color: rgb(255,155,113);
        position: absolute;
        bottom: 35%;
        left: 45%;
        font-size: 1.5rem;
        font-weight: 900;

        @include tablet{
            top: 27%;
        }
        @include mobile{
            display: none;
        }
        @include fold{
            display: none;
        }
    }
}